# eclipse
.classpath
.project
.settings
.apt_generated
.factorypath
.springBeans
.sts4-cache

# maven
target/
*.versionsBackup
*.releaseBackup
bin/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# common junk
*.log
*.diff
*.patch
*.sw[a-p]
*.bak
*.backup
*.debug
*.dump
.attach_pid*

# vim 
.*.sw[a-p]
*~
~*

# intellij / android studio
*.iml
*.ipr
*.iws
.idea/

# Mac filesystem dust
.DS_Store

# pmd
.pmdruleset
.pmd

# netbeans
/nbproject
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# vscode
.vscode/

# merge tooling
*.orig

# test generated content
.flattened-pom.xml
